// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

//$white:    #fff;
$gray-100: #f1f5fa;
$gray-200: #e9ecef;
$gray-300: #dde0e6;
$gray-400: #b5b8bf;
$gray-500: #6e7489;
$gray-600: #6c757d;
$gray-700: #404251;
$gray-800: #343a40;
$gray-900: #161720;
//$black:    #000;

$gn:        #f0ff00;

$primary: #7c88f5;
$secondary: #6e7489;
$success: #07fc6d;
$info: #3a4cef;
$warning: #f2cc9c;
$danger: #ff694c;
$light: $gray-100;
$dark: $gray-900;

$breakpoint-menu: 420px;

$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$btn-border-radius: 100rem;
$btn-border-radius-lg: 100rem;
$btn-border-radius-sm: 100rem;

// Some example variables that you can uncomment:

// Enabling shadows and gradients
//$enable-shadows: true;
//$enable-gradients: true;

// Changing the body background and text
//$body-bg: #d3e9eb;
//$body-color: #151417;

// Changing the border radius of buttons
//$border-radius: 20px;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
// $theme-colors: (
//  "gn": #f0ff00
// );




